<%- include('../partials/header') %>

<form id="edit-form" action="/recipes/<%=recipe._id%>?_method=PUT" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%= recipe.name %>">
    <label ">Region:</label>
    <input type="text" name="region" value="<%= recipe.region %>">
    <label ">Please add ingredients using the ingredient link above</label>
    <ul>
        <%- recipe.factor.map(i =>
        `<li>${i.name}</li>`).join('') %>
    </ul>
    <!-- end ingredients list -->
</section>
<!-- add ingredients form -->
<% if (recipe.author && recipe.author.equals(user && user._id)) { %>
<form id="add-per-to-factor" action="/recipes/<%= recipe._id%>/ingredients" method="POST">
<select name="ingredientId">
    <%- ingredients.map(i => 
    `<option value="${i._id}">${i.name}</option>`
    ).join('') %>
</select>
    <button style="color:rgb(8, 54, 238)" type="submit">Update</button>
</form>
<% } %>
        <p>
    <label>
        <input type="checkbox" class="filled-in"  name="gluten" value="<%= recipe.gluten %>"/>
        <span>Gluten Free</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in" name="dairy" value="<%= recipe.dairy %>"/>
        <span>Dairy Free</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in"  name="vegan" value="<%= recipe.vegan %>"/>
        <span>Vegan</span>
      </label>
    </p>
      <br>
    <label>Process:</label>
    <input type="text" name="process" value="<%= recipe.process %>">
    <input type="submit" value="Add Recipe" style="color:black">
      
</form>

<%- include('../partials/footer') %>