<%- include('../partials/header') %>
<table id="list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Gluten Free</th>
            <th>Dairy Free</th>
            <th>Vegan</th>
        </tr>
    </thead>
<tbody>
    <% recipes.forEach(function(r) { %>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.region %></td>
            <td><%= r.gluten %></td>
            <td><%= r.dairy %></td>
            <td><%= r.vegan %></td>
            <td><a href="/recipes/<%= r._id%>" style="color:blue">Details</a></td>
            <% if (r.author && r.author.equals(user && user._id)) { %>
            <td><a href="recipes/<%= r._id%>/edit" style="color:blue">Edit</a></td>
            <td><form id="delete-form" action="/recipes/<%= r._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
            </form></td>
        <% } %>
        </tr>
    <% }); %>
</tbody>
</table>

<%- include('../partials/footer') %>